@import 'tailwindcss';
@config "../../tailwind.config.mjs";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  :root {
    --emerald-green: #00674f;
    --jade-green: #00bb77;
    --highlight-accent: var(--jade-green);

    --background: #fffafa;
    --foreground: #252525;
  }

  .dark {
    --highlight-accent: var(--emerald-green);
    --background: #252525;
    --foreground: #fffafa;
  }

  html {
    font-size: 18px;
  }

  body {
    @apply bg-background text-foreground;

    font-family: var(--font-sans);
  }

  p,
  li,
  blockquote,
  figure,
  figcaption {
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-light);
  }
}

@layer utilities {
  .bg-custom-theme {
    background-color: var(--background);
  }

  .fg-custom-theme {
    color: var(--foreground);
  }

  .bg-custom-accent {
    background-color: var(--highlight-accent);
  }

  .fg-custom-accent {
    color: var(--highlight-accent);
  }

  .text-highlight {
    @apply inline-block leading-normal px-1;

    background-color: var(--highlight-accent);
  }
}
